<div class="todo">
   <span class="todo-title"><%- title %></span>
   <button class="btn btn-link btn-xs destroy">delete</button>
</div>
<input class="edit form-control hidden" value="<%- title %>">


